@import '../../variables';

.root {
  min-height: 100vh;
  background: linear-gradient(180deg, $third 0%, $primary 100%);
}

.contentWrap {
  padding-top: 70px;
  display: flex;
  justify-content: space-between;
}

.contentText {
  padding-top: 128px;
}

.contentParallax {
}
